<div>
  <table border="1">
    <tr>
      <td>
        <h3>Control</h3>
      </td>
    </tr>
    <tr *ngFor="let service of services" [ngClass]="service.attributes.name === activeElement ? 'active' : 'none'"
      (click)="selectedItem(service.attributes.name)">
      <td> {{service.attributes.name}}</td>
    </tr>
  </table>
</div>

<div class="banner" *ngFor="let provider of providers">
  <div class="wrapper" *ngIf="(provider.attributes.subspecialties.includes(activeElement))">
     <p><img src="{{[provider.attributes.card-image]}}" alt="image" />
      <span class="ban1">{{provider.attributes.name}}</span>
       <span class="ban2">{{provider.attributes.subspecialties}}</span>
     </p>
  </div>
  <div>{{provider.attributes.profile-image}}</div>
</div>

<router-outlet></router-outlet>